body {
	background: url('../images/background.png');
	padding: 0;
	font-family: 'Lucida Grande','Lucida', 'Arial',sans;
}

/* Custom container */
.container-wide {
	margin: 0 auto;
	max-width: 1075px;
}
.container-wide > hr {
	margin: 30px 0;
	color: #ccc;
	border-color: #ccc;
}

/*President's card */

.card-container {
	/*background: url('../images/snowflake_background.png');*/
	/*padding-bottom: 90px;*/
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.card {
	background: url('../images/president_card.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	max-width: 596px;
	margin: auto;
	display: block;
	-webkit-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.51);
	-moz-box-shadow:    0px 0px 25px rgba(50, 50, 50, 0.51);
	box-shadow:         0px 0px 25px rgba(50, 50, 50, 0.51);
}

#card canvas{
	position: absolute;
	z-index= -1;
}

.card-front {
	position: absolute;
	text-align: center;	
	max-width: 100%;
	z-index: 1;
}

.card-front:hover{
	cursor: pointer;
}

.president-card {
	display: block;
	margin: auto;
	-webkit-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.51);
	-moz-box-shadow:    0px 0px 25px rgba(50, 50, 50, 0.51);
	box-shadow:         0px 0px 25px rgba(50, 50, 50, 0.51);
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
	margin: 20px 0;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

#secondary-content{
	margin-top: 80px;
	
}

/*Send Your Own Card Stuff */

.make-splash {
	position: fixed;
	left: 0;
	z-index: 99;
}

.make-splash.unopened {
	visibility: hidden;
	
}
.container-wide h2 {
	text-align: center;
	margin: 30px auto;
}

.globe-creator-container h3{
	text-align: center;
}

.globe-creator-container{
	background-color: white;
	border: 1px solid #cacaca;
	min-height: 300px;
	padding: 20px;
	/*margin-top: 40px;*/
}

.globe-creator-container .span4 {
	padding: 10px;
}

.globe-preview:hover{
	cursor: pointer;
}

.globe-preview.selected{
	background: #67d4e7;
}

.globe-preview img{
	display: block;
	margin: auto;
	max-width: 100%;
}

.front-creator {
	/*background-image: url('../images/globe1_inside_preview.png');*/
	
}

.card-form-container{
	/*background-image: url('../images/globe1_outside_preview.png'); */
	background-repeat: no-repeat;
}

.card-form-container.globe1-chooser{
	/*background-image: url('../images/globe1_outside_preview.png');*/
}

.card-form-container.globe2-chooser{
	/*background-image: url('../images/globe2_outside_preview.png');*/
}

.card-form-container.globe3-chooser{
	/*background-image: url('../images/globe3_outside_preview.png');*/
}


.to_text{
	display: block;
	margin-bottom: 10px;
	
}

.span12.recipient-input{
	width: 100%;
	padding: 10px;
	margin:auto;
	
}

.span12.recipient-input input {
	display:block;
	margin: auto;
}

.inside-creator{
	background-color: white;
	background-image: url('../images/globe1_inside_preview.png');
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
}

.inside-creator.globe1-chooser{
	background-image: url('../images/globe1_inside_preview.png');	
	background-repeat: no-repeat;

	
}

.inside-creator.globe2-chooser{
	background-image: url('../images/globe2_inside_preview.png');	
	background-repeat: no-repeat;

}

.inside-creator.globe3-chooser{
	background-image: url('../images/globe3_inside_preview.png');	
	background-repeat: no-repeat;
	
}

.inside-card {
	/*padding: 10px;*/
	height: 100%;
}

.inside-card input, .inside-card textarea {
	text-align: center;
	width: 250px;
}

.inside-card label, .inside-form legend{
	text-indent: -9999em;
	outline: 0;
	height: 0;
	border: none;
	margin: 0;
}


.inside-form textarea{
	display: block;
	margin: auto;
	margin-top: 55%;
	height: 100px;
	
}

.creator-overlay{
	position: absolute;	
	max-width: 100%;
}

#captcha-container{
	margin: auto;
}
#recaptcha_area{
    margin: 0 auto;
}

#recaptcha_table {
	border: none !important;
	
}

/*#recaptcha_image img{
	width: 80%;
}*/

/*#recaptcha_logo {
	display: none;
	
}

#recaptcha_tagline{
	display: none;
}

.recaptchatable .recaptcha_image_cell{
	padding: 0 !important;
}

#recaptcha_reload_btn{
	display: none;
}

#recaptcha_switch_audio_btn{
	display: none;
}

#recaptcha_whatsthis_btn{
	display: none;
}*/
/* User Card Template */

.card.custom {
	position:relative;
	
}
.custom-card-text {

	position: absolute;
	font-size: 23px;
	font-family: 'Lucida Grande','Lucida', 'Arial',sans;
	height: 100%;
	margin: auto;
	width: 96%;
	padding: 2%;
	
}

.custom-card-text p.message{
	margin-top: 65%;
	/*background: url('../images/background.png');*/
	background-color: white;
	border-radius: 4px;
	padding: 10px;
	border: 1px white solid;
	min-height: 20%;
	-webkit-box-shadow: inset 2px 2px 20px 2px rgba(200, 200, 200, 1);
	box-shadow: inset 2px 2px 20px 2px rgba(200, 200, 200, 1);	
	font-size: 18px;
}


.custom-card-text p{
	text-align: center;
	
}


.custom-card-to span{
	display: block;
	margin-top: 10px;
	
}


/* Card Sharing Styles */

#card-share{
	margin: 30px auto;
	width: 100%;
	
}

.card-share-url{
	background: white;
	padding: 3px;
	border: 1px solid #ccc;
	width: auto;
	display: block;
	float: left;
	height: 24px;
}

.fb-send{
	float: left;
	margin-top: -10px;
	margin-right: 10px;
	
}
.addthis_toolbox{
	width: 242px;
	margin: 0 auto;
}

.share-container {
		width: 83%;
		margin: auto;
	
}
.clear{
	clear: both;
}

.status-message{
	color: #67d5e8;
}

.Actions input{
	display: block;
	margin: 10px auto;
}

#CardForm_CardForm_action_doCreateCard{
	max-width: 80%;	
	
}

/* Additional Media Queries */

@media (max-width: 1000px) {
	.make-splash{
		max-width: 40%;
		
	}

 }
 
 @media (max-width: 600px) {
	/* .front-creator-container{
		 display: none;
	 }
	 
	.span6.inside-creator{
		 width: 100% !important;
	 }*/

 }